@media (max-width: 834px) {
  .container {
    // width: 100%;
    max-width: 768px;
    margin: 0 auto;
  }

  .offers__items {
    flex-wrap: wrap;
    margin: 0 -10px;
    &-one {
      width: calc(100% / 2 - 20px);
    }
  }

  .catalog__items {
    .catalog__item {
      width: calc(100% / 2 - 20px);
    }
  }

  .furniture__container-one {
    & > div {
      margin-right: 30px;

      &:last-of-type {
        margin-right: 0;
      }
    }
    & img {
      overflow: hidden;
    }
  }

  .furniture__container-two {
    & > div > a > img {
      overflow: hidden;
    }
  }

  .footer-title {
    display: none;
  }

  .footer__news {
    & input {
      padding: 12px 100px 12px 25px;
    }
  }

  .footer__news-title {
    text-align: center;
  }
}

@media (max-width: 375px) {
  .container {
    max-width: 365px;
    padding: 0 16px;
    margin: 0 auto;
  }

  .header__nav-logo {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #ffffff;
  }

  .header__nav {
    padding: 15px 0;
    & input {
      display: none;
    }
  }

  .header__nav-link {
    display: none;
  }

  .header__button {
    display: block;
  }

  .mobile-button {
    display: flex;
    & a {
      margin-right: 10px;

      &:last-of-type {
        margin-right: 0;
      }
    }
  }

  .header__button-search {
    display: block;
    width: 19px;
    height: 19px;
    background-image: url("data:image/svg+xml,%3Csvg width='17' height='16' viewBox='0 0 17 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.7515 1.99141C1.59282 3.14838 0.918906 4.70363 0.867092 6.34023C0.815278 7.97682 1.38946 9.57159 2.47264 10.7995C3.55581 12.0275 5.06645 12.7962 6.69672 12.9491C8.29727 13.0991 9.89485 12.6444 11.1757 11.6766L14.5069 15.0085L14.5069 15.0085C14.5897 15.0914 14.6881 15.1571 14.7963 15.2019C14.9046 15.2468 15.0206 15.2698 15.1377 15.2698C15.2549 15.2698 15.3709 15.2468 15.4791 15.2019C15.5873 15.1571 15.6857 15.0914 15.7685 15.0085C15.8514 14.9257 15.9171 14.8274 15.9619 14.7191C16.0068 14.6109 16.0298 14.4949 16.0298 14.3777C16.0298 14.2606 16.0068 14.1446 15.9619 14.0363C15.9171 13.9281 15.8514 13.8298 15.7685 13.7469L15.7685 13.7469L12.4368 10.416C13.4021 9.13496 13.8547 7.53846 13.7038 5.93943C13.5501 4.31054 12.7816 2.80139 11.5547 1.719C10.3277 0.636623 8.73451 0.0623154 7.09916 0.11292C5.46381 0.163525 3.90917 0.835233 2.7515 1.99141ZM2.7515 1.99141L2.82216 2.06217L2.7515 1.99141ZM10.5895 3.25366C11.0271 3.68416 11.3751 4.19703 11.6135 4.76269C11.8518 5.32835 11.9758 5.93561 11.9783 6.54944C11.9808 7.16327 11.8618 7.77152 11.628 8.3391C11.3943 8.90669 11.0505 9.42238 10.6164 9.85642C10.1824 10.2905 9.66668 10.6343 9.09909 10.868C8.53151 11.1018 7.92326 11.2208 7.30943 11.2183C6.6956 11.2158 6.08834 11.0918 5.52268 10.8535C4.95702 10.6151 4.44415 10.2671 4.01365 9.82954C3.15334 8.95509 2.67341 7.77613 2.6784 6.54944C2.6834 5.32275 3.17291 4.14773 4.04032 3.28033C4.90772 2.41292 6.08274 1.92341 7.30943 1.91841C8.53612 1.91342 9.71508 2.39335 10.5895 3.25366Z' fill='white' stroke='white' stroke-width='0.2'/%3E%3C/svg%3E%0A");
    background-position: center;
    background-repeat: no-repeat;
  }

  .header__button-catalog {
    display: block;
    width: 19px;
    height: 19px;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='21' viewBox='0 0 20 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.800537' y='0.900024' width='4.57143' height='4.57143' fill='white'/%3E%3Crect x='0.800537' y='8.21436' width='4.57143' height='4.57143' fill='white'/%3E%3Crect x='0.800537' y='15.5286' width='4.57143' height='4.57143' fill='white'/%3E%3Crect x='8.11401' y='8.21436' width='4.57143' height='4.57143' fill='white'/%3E%3Crect x='8.11401' y='15.5286' width='4.57143' height='4.57143' fill='white'/%3E%3Crect x='8.11401' y='0.900024' width='4.57143' height='4.57143' fill='white'/%3E%3Crect x='15.4285' y='8.21436' width='4.57143' height='4.57143' fill='white'/%3E%3Crect x='15.4285' y='15.5286' width='4.57143' height='4.57143' fill='white'/%3E%3Crect x='15.4285' y='0.900024' width='4.57143' height='4.57143' fill='white'/%3E%3C/svg%3E%0A");
    background-position: center;
    background-repeat: no-repeat;
  }

  .header__button-car {
    display: block;
    width: 19px;
    height: 19px;
    background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.5834 20.8333C15.1359 20.8333 15.6658 20.6138 16.0566 20.2231C16.4473 19.8324 16.6667 19.3025 16.6667 18.75C16.6667 18.1974 16.4473 17.6675 16.0566 17.2768C15.6658 16.8861 15.1359 16.6666 14.5834 16.6666C14.0309 16.6666 13.501 16.8861 13.1103 17.2768C12.7196 17.6675 12.5001 18.1974 12.5001 18.75C12.5001 19.3025 12.7196 19.8324 13.1103 20.2231C13.501 20.6138 14.0309 20.8333 14.5834 20.8333ZM7.29174 20.8333C7.84428 20.8333 8.37418 20.6138 8.76488 20.2231C9.15558 19.8324 9.37508 19.3025 9.37508 18.75C9.37508 18.1974 9.15558 17.6675 8.76488 17.2768C8.37418 16.8861 7.84428 16.6666 7.29174 16.6666C6.73921 16.6666 6.20931 16.8861 5.81861 17.2768C5.4279 17.6675 5.20841 18.1974 5.20841 18.75C5.20841 19.3025 5.4279 19.8324 5.81861 20.2231C6.20931 20.6138 6.73921 20.8333 7.29174 20.8333ZM20.873 6.16975C21.133 6.16136 21.3796 6.05217 21.5606 5.86525C21.7416 5.67834 21.8428 5.42836 21.8428 5.16819C21.8428 4.90801 21.7416 4.65804 21.5606 4.47112C21.3796 4.28421 21.133 4.17501 20.873 4.16663H19.674C18.7345 4.16663 17.922 4.81871 17.7178 5.73538L16.4126 11.6125C16.2084 12.5291 15.3959 13.1812 14.4563 13.1812H6.63133L5.12924 7.17079H14.8636C15.1212 7.15904 15.3644 7.04844 15.5425 6.86199C15.7206 6.67555 15.82 6.42761 15.82 6.16975C15.82 5.91189 15.7206 5.66395 15.5425 5.47751C15.3644 5.29106 15.1212 5.18046 14.8636 5.16871H5.12924C4.82473 5.16862 4.5242 5.23796 4.25051 5.37145C3.97682 5.50495 3.73716 5.69909 3.54976 5.93911C3.36236 6.17913 3.23215 6.45872 3.16903 6.75662C3.10591 7.05452 3.11154 7.36289 3.1855 7.65829L4.68758 13.6666C4.79586 14.1002 5.046 14.485 5.39821 14.7601C5.75042 15.0351 6.18447 15.1844 6.63133 15.1843H14.4563C15.368 15.1845 16.2524 14.8736 16.9636 14.3032C17.6748 13.7327 18.1701 12.9368 18.3678 12.0468L19.674 6.16975H20.873Z' fill='white'/%3E%3C/svg%3E%0A");
    background-position: center;
    background-repeat: no-repeat;
  }

  .header__title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 59px;
    text-align: center;
    color: #ffffff;
  }

  .header__text {
    width: 100%;
  }

  .header__subtitle {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
    color: #ffffff;
  }

  .header__title-link {
    display: flex;
    justify-content: center;
  }

  .furniture__title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    color: #000000;
  }

  .furniture__container {
    &-one {
      display: block;

      .furniture__container-rest {
        margin: 0;
        margin-bottom: 16px;
      }
      & span {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 28px;
        line-height: 34px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #ffffff;
      }

      & img {
        overflow: hidden;
        width: 343px;
      }
    }

    .furniture__container-two {
      display: block;

      & > div {
        margin: 0;
        width: 343px;
      }
    }
  }

  .offers__title {
    width: 50%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    color: #000000;
  }

  .offers__items {
    margin: 0;
    display: block;

    &-one {
      width: 100%;

      & span {
        display: inline-block;
      }

      .offers__items-total {
        width: 100%;
      }
    }

    & > div {
      margin: 0;
      margin-bottom: 32px;

      & img {
        overflow: hidden;
        width: 343px;
      }
    }
  }

  .catalog__title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    color: #000000;
  }

  .catalog__items {
    display: block;
    margin: 0;
    .catalog__item {
      width: 100%;
      & span {
        display: inline-block;
      }

      & .img {
        & img {
          width: 343px;
        }
      }
    }
  }

  .footer {
    .container {
      flex-wrap: wrap;

      & > div {
        width: calc(100% / 2 - 20px);

        &:last-of-type {
          width: 100%;
        }
      }
    }
  }

  .footer__news {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    & a {
      text-align: center;
    }
  }

  .main__nav {
    flex-direction: column;
    align-items: center;
  }

  .main-car {
    .order-input {
      display: flex;
      flex-direction: column;
      align-items: center;

      .order {
        width: 100%;
      }
    }
  }

  .order-item {
    & img {
      display: none;
    }
  }

  .mobile-button-car {
    width: 100%;
    display: flex;
    justify-content: space-between;
    & .car1 {
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 15px;
      text-align: center;
      color: #000000;
      padding: 11px 15px;
      border: 1px solid #000000;
      border-radius: 50px;
      transition: all 0.3s linear;
      text-decoration: none;

      & :hover {
        color: #ffffff;
        background-color: #000000;
      }
    }

    & .car2 {
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 15px;
      text-align: center;
      color: white;
      padding: 11px 12px;
      border: 1px solid #000000;
      border-radius: 50px;
      transition: all 0.3s linear;
      text-decoration: none;
      background-color: black;

      & :hover {
        color: black;
        background-color: white;
      }
    }
  }
}
